* {
    margin: 0;
}
  
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #1F2039;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

header a{
    background-color: #A4A6B1;
    color: #1F2039;
    text-decoration: none;
    padding: 10px 70px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #1F2039;
}

.boutonGauche{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.boutonDroite{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

footer{
    background-color: white;
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.logoLinkedin{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

.logoDownload{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

a:hover {
    opacity: 0.5;
}

h1{
    color: #A4A6B1;
    font-size: 3.5em;
    margin-bottom: 30px;
}

.titreOnglet{
    margin-left: 100px;
}

.frise{
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 40px 60px;
    overflow: auto;
}

.frise:after{
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    width: 8px;
    background: #A4A6B1;
    border-radius: 3px;
    z-index: 1;
}

.detail {
    font-size: smaller;
}

.frise article{
    position: relative;
    background-color: #A4A6B1;
    width: calc( 50% - 70px );
    padding: 15px;
    border-radius: 15px;
}

.frise article + article{
    margin-top: -20px;
}

.frise article:before{
    content:"";
    display: block;
    position: absolute;
    top: 40%;
    right: -57px;
    background-color: #A4A6B1;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    z-index: 2;
}

.frise article:after {
    content:"";
    position: absolute;
    top: 34%;
    right: -15px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #A4A6B1;
    border-bottom: 20px solid transparent;
}

.frise article:nth-child(even) {
    margin-left: calc( 50% + 48px );
}

.frise article:nth-child(even):before {
    left: auto;
    right: calc( 100% + 31px );
}

.frise article:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 16px solid #A4A6B1;
}