* {
    margin: 0;
}
  
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #1F2039;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

header a{
    background-color: #A4A6B1;
    color: #1F2039;
    text-decoration: none;
    padding: 10px 70px;
    font-weight: 600;
}

.boutonGauche{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.boutonDroite{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

footer{
    background-color: white;
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.logoLinkedin{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

.logoDownload{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

a:hover {
    opacity: 0.5;
}

h2{
    color: #A4A6B1;
    font-size: 2em;
    text-align: center;
    margin-bottom: 45px;
}

main{
    color: #A4A6B1;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
}

input[type='text'],
input[type='email'] {
    width: 30%;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    margin-bottom: 45px;
}


input[type='text']::placeholder,
input[type='email']::placeholder {
    color: #1F2039;
    opacity: 50%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #1F2039;
    background-color: #A4A6B1;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

button:hover {
    color: #1F2039;
    background-color: #A4A6B1;
    cursor: pointer;
}