* {
    margin: 0;
}
  
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #1F2039;
    min-height: 100vh; /* Hauteur minimale de la page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

header a{
    background-color: #A4A6B1;
    color: #1F2039;
    text-decoration: none;
    padding: 10px 70px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #A4A6B1;
}

a:hover {
    opacity: 0.5;
}

.boutonGauche{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.boutonDroite{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

footer{
    background-color: white;
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.logoLinkedin{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

.logoDownload{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
}

h1{
    color: #A4A6B1;
    font-size: 3.5em;
    margin-bottom: 30px;
}

.contenu_accueil{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    max-width: 850px;
    margin: auto;
}

.contenu_accueil img{
    width: 315px;
    height: 350px;
    border-radius: 15px;
}

.contenu_accueil p{
    color: white;
    font-size: 1.3em;
    text-align: justify;
    padding-right: 60px;
    padding-bottom: 60px;
    border-right: #A4A6B1 solid 1px;
    border-bottom: #A4A6B1 solid 1px;
    border-bottom-right-radius: 15px;
}

.titreOnglet{
    margin-left: 100px;
}
